<nav class="navbar navbar-expand navbar-light bg-light">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Recipe Book</a>
    </div>

    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li *ngIf="isAuthenticated" routerLinkActive="active">
          <a class="nav-link" routerLink="/recipes">Recipe</a></li>
        <li *ngIf="!isAuthenticated" routerLinkActive="active">
          <a class="nav-link" routerLink="/auth">Authenticate</a></li>
        <li routerLinkActive="active">
          <a class="nav-link" routerLink="/shopping-list">Shopping List</a></li>
      </ul>

      <ul class="nav navbar-nav ms-auto">
        <li *ngIf="isAuthenticated" class="nav-item">
          <a (click)="onLogout()" class="nav-link" style="cursor: pointer">Logout</a></li>

        <li *ngIf="isAuthenticated" class="nav-item dropdown">
          <a aria-expanded="false"
             aria-haspopup="true"
             class="nav-link dropdown-toggle"
             data-bs-toggle="dropdown"
             id="manageMenu"
             style="cursor: pointer">Manage</a>
          <ul aria-labelledby="manageMenu" class="dropdown-menu">
            <li><a (click)="onSaveData()" class="dropdown-item" style="cursor: pointer">Save Data</a></li>
            <li><a (click)="onFetchData()" class="dropdown-item" style="cursor: pointer">Fetch Data</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
