<div class="row">
  <div class="col-xs-12">
    <img [src]="recipe.imagePath"
         alt="{{recipe.name}}"
         class="img-fluid"
         style="max-height: 300px;">
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <h1>{{recipe.name}}</h1>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <div appDropdown class="btn-group">
      <button aria-expanded="false"
              class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown"
              id="manageRecipeMenu"
              type="button">
        Manage Recipe
      </button>
      <ul aria-labelledby="manageRecipeMenu" class="dropdown-menu">
        <li><a (click)="onAddToShoppingList()" class="dropdown-item" style="cursor: pointer">To Shopping List</a></li>
        <li><a (click)="onEditRecipe()" class="dropdown-item" style="cursor: pointer">Edit Recipe</a></li>
        <li><a (click)="onDeleteRecipe()" class="dropdown-item" style="cursor: pointer">Delete Recipe</a></li>
      </ul>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    {{recipe.description}}
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <ul class="list-group">
      <li *ngFor="let ingredient of recipe.ingredients"
          class="list-group-item">
        {{ingredient.name}} - {{ingredient.amount}}
      </li>
    </ul>
  </div>
</div>
